:root {
  --primary-background-color: white;
  --primary-text-color: black;
  --color-change-filter: none;
  --searchbar-color: rgba(111, 137, 151, 0.2);
  --searchbar-hover: rgba(111, 137, 151, 0.35);
  --content-background-color: #e2e8f0;
  --secondary-text-color: rgba(0, 0, 0, 0.7);
  --hr-color: rgba(0, 0, 0, 0.2);
}