@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Regular.ttf);
}

* {
  font-family: 'Roboto',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  list-style: none;
}

.container {
  display: grid;
  grid-template: 180px 1fr / 70px 210px 1fr;
  position: relative;
  overflow-x: hidden;
}

.header {
  grid-area: 1/2/2/4;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2), 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: grid;
  grid-template: 65px 115px / 2fr 1fr;
}

.search {
  grid-area: 1/1/2/2;
  padding: 10px 48px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;
}

.search input {
  flex-grow: 1;
  padding: 6px;
  padding-left: 12px;
  border: none;
  background-color: rgba(111, 137, 151, 0.2);
  border-radius: 20px;
  font-size: 1.2rem;
}

.search input:hover {
  background-color: rgba(111, 137, 151, 0.35);
}

.search input:focus {
  background-color: white;
  outline: none;
  border: 2px solid #1992d4;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}

.search label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search label:hover,
.profile-icons img:hover,
.header button:hover {
  cursor: pointer;
}

label img {
  height: 28px;
}

.profile-icons {
  grid-area: 1/2/2/3;
  padding: 10px 48px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 36px;
}

#icon-notify {
  height: 28px;
}

#icon-notify:hover {
  animation: shake .8s;
  animation-iteration-count: 2;
}

#icon-avatar {
  height: 42px;
}

.profile-icons p {
  font-size: 1.2rem;
}

.user-info {
  grid-area: 2/1/3/2;
  padding: 10px 48px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
}

#user-avatar {
  height: 84px;
}

.welcome {
  margin-bottom: 8px;
}

.user-name,
.user-name a {
  font-size: 1.7rem;
  font-weight: 700;
}

.user-name a:link,
.user-name a:visited,
.user-name a:active {
  color: #1992d4;
  text-decoration: none;
}

.user-name a:hover {
  color: #1992d496;
}

.user-buttons {
  grid-area: 2/2/3/3;
  padding: 10px 48px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 36px;
}

.user-buttons button {
  color: white;
  background-color: #1992d4;
  border: none;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 8px 32px;
  border-radius: 20px;
}

.user-buttons button:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4), 0 4px 20px rgba(0, 0, 0, 0.4);
}

.user-buttons button:active,
.search label:active,
.profile-icons img:active,
.header button:active {
  box-shadow: none;
  transform: translateY(2px);
}

.sidebar {
  grid-area: 1/1/3/2;
  height: 100vh;
  overflow: hidden;
  background-color: #1992d4;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2), 4px 0 10px rgba(0, 0, 0, 0.19);
  z-index: 2;
  padding: 24px;
  color: white;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar:hover {
  grid-area: 1/1/3/3;
  overflow: auto;
}

.navigation {
  margin-bottom: 24px;
}

.title {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  margin-bottom: min(72px, 14vh);
  position: relative;
  padding-left: 56px;
  transition: .15s;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 1.5rem;
  margin-top: min(24px, 3.5vh);
  width: fit-content;
  transition: .15s;
}

.sidebar li:hover,
.title:hover {
  transform: scale(1.08);
  transition: .15s;
  cursor: pointer;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.5);
}

li p {
  font-size: 1.5rem;
  font-weight: 700;
}

.sidebar img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7454%) hue-rotate(268deg) brightness(118%) contrast(101%);
}

li img {
  height: 1.5rem;
}

.title img {
  height: 3rem;
  position: absolute;
  left: -13px;
}

.content {
  grid-area: 2/2/3/4;
  height: calc(100vh - 180px);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #e2e8f0;
  display: grid;
  grid-template: 80px 1fr / 2.5fr 1fr;
}

.projects-label {
  grid-area: 1/1/2/2;
  padding: 12px 24px;
  display: flex;
  justify-content: start;
  align-items: end;
}

.projects {
  grid-area: 2/1/3/2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 200px;
}

.projects-item {
  background-color: white;
}

.content-side {
  grid-area: 1/2/3/3;
}

.announcements-label,
.trending-label,
.projects-label {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: .02rem;
}

@keyframes shake {
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-1px, 0, 0) rotate(4deg);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(1px, 0, 0) rotate(-4deg);
  }
}